extends ../layout.pug

block append stylesheet

block content
  div.row
    div.col-12.text-center
      h1 Create a new account
      p= msg
      p= msg_detailed
    div.col-12
      form(method="POST" action="/user/new")#registerForm.max-width-350.mx-auto
        div.form-group
          label(for="inputUsername") Username
          input(type="text" name="username")#inputUsername.inputUserValidation.form-control
        div.form-group
          label(for="inputFirstname") First name
          input(type="text" name="firstname")#inputFirstname.inputUserValidation.form-control
        div.form-group
          label(for="inputLastname") Last name
          input(type="text" name="lastname")#inputLastname.inputUserValidation.form-control
        div.form-group
          label(for="inputBirthDay") Birthday
          input(
            type="date"
            name="birthday"
            min=moment().subtract(142, 'years').format('YYYY-MM-DD')
            max=moment().subtract(18, 'years').format('YYYY-MM-DD')
            value=moment().subtract(18, 'years').format('YYYY-MM-DD')
          )#inputBirthDay.inputUserValidation.form-control
        div.form-group
          label(for="inputSexType") Gender
          select(type="text" name="gender")#inputGender.inputUserValidation.form-control
            option(value="0") Male
            option(value="1") Female
        div.form-group
          label(for="inputEmail") Email
          input(type="text" name="email")#inputEmail.inputUserValidation.form-control
        div.form-group
          label(for="inputPassword") Password
          input(type="password" name="password")#inputPassword.inputUserValidation.form-control
        div.form-group
          label(for="inputConfirmPassword") Confirm_Password
          input(type="password" name="confirm_password")#inputConfirmPassword.inputUserValidation.form-control
        div.form-group
          label(for="inputSubmit")
          input(type="submit" name="submit" value="Submit")#inputSubmit.btn.btn-primary

block append javascript
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js')
  script(src='/javascripts/users/new.js')